.tag {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #212121;
	font-weight: 400;
	border-radius: 11px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&__date {
		background: #07d6f2;
		box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
	}
	&__male {
		&_male {
			background: #73d677;
			box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
		}
		&_female {
			background: #c956ff;
			box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
		}
		&_herma {
			background: #f5db13;
			box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
		}
	}
}
