.home {
	background: linear-gradient(180deg, #1f2a63 0%, #17002f 100%);
	padding: 80px 80px 50px;
	display: flex;
	justify-content: space-between;
	position: relative;
	min-height: calc(100vh - 89px);
	&__cta {
		display: flex;
		flex-direction: column;
		row-gap: max(3vw, 24px);
		align-items: flex-start;
	}
	&__title {
		font-weight: 400;
		font-size: max(4vw, 44px);
		line-height: max(5vw, 52px);
		letter-spacing: 4px;
		color: #ffffff;
		white-space: pre-wrap;
		&_strong {
			font-weight: 700;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 32px;
		line-height: 37px;
		font-size: max(2.4vw, 18px);
		line-height: max(3.4vw, 26px);
		color: #ffffff;
		white-space: pre-wrap;
	}
	&__btn {
		font-weight: 700;
		font-size: 23px;
		line-height: 27px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #212121;
		background: #ffc107;
		box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
		border-radius: 11px;
		padding: 17px 57px 22px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background: #dfa806;
			box-shadow: none;
			padding-bottom: 17px;
		}
	}
	&__banner-img {
		width: max(40vw, 60px);
		height: max(40vw, 60px);
		position: absolute;
		top: 0;
		right: 0;
	}
}
